div#shoppingcart{
 float: right;
/* height: 200px; */
 width: 148px;
 margin: 0px;
 padding: 0px;
 margin-left: 5px;
/* margin-right: -100px; */
 }
 
div#shoppingcart img{
 position: absolute; 
 top: 5px;
 left: 5px;
 }
 
div#shoppingcart div{
 font-size: 9pt;
 border: 1px solid #999999;
 background-color: #efefef;
 height: 100%;
 width: 100%;
 text-align: left;
 padding: 6px;
 padding-top: 4px;
 }
 
div#shoppingcart div strong{
 font-size: 11pt;
 }

div#sideshoppingcart div{
 height: 100%;
 width: 100%;
 text-align: left;
 padding: 6px;
 padding-top: 4px;
 }
 
div#sideshoppingcart div h2{
 margin-left: -1ex;
 display: inline;
 }

table.shoppingcart{
 margin-left: -2px;
 margin-bottom: 5px;
 }

table.shoppingcart tr td{
 font-size: 8pt !important;
 }

div#widgetshoppingcart{
 }

div#widgetshoppingcart div{
 height: 100%;
 width: 100%;
 text-align: left;
 padding: 6px;
 }
 
div#widgetshoppingcarts div h2{
 margin-left: -1ex;
 display: inline;
 }

td{
 font-size: 11pt;
 vertical-align: top;
 }

table.productcart{
 border: 1px solid #999999;
 width: 100%;
 margin-bottom: 10px;
 }

table.productcart tr td{
 padding-bottom: 5px;
 font-size: 8pt;
 }

table.productcart tr.firstrow td{
 font-weight:bold;
 background-color: #e5e5e5;
 }

table.productcart tr.oddrow td{
 background-color: #f0f0f0;
 }
 
table.productcart tr td.firstcol{
 width: 40%;
 } 

form.adjustform{
 display: inline;
 }




table.productdisplay{
/* margin-top: 10px; */
 margin-bottom: 20px;
 border-collapse: collapse;
 width: 100%;
 text-align: left !important;
 }

table.productdisplay tr td{
 vertical-align: top;
 padding-bottom: 5px;
 text-align: left !important;
 }


table.productdisplay tr td.imagecol{
 padding-right: 5px;
 margin-right: 5px;
 border: 0px solid #ffffff;
 }
 
table.productdisplay tr td.imagecol img{
/* width: 300px; */
border: 0px solid #ffffff;
 }

table.productdisplay tr td.textcol{
 padding: 0px;
 padding-bottom: 10px;
 margin: 0px;
 width: 100%;
 text-align: left !important;
 }

div.producttext{
 font-size: 10pt;
 width: 100%;
 text-align: left !important;
 }
 
 
 
table.list_productdisplay{
/* margin-top: 10px; */
 margin-bottom: 20px;
 border-collapse: collapse;
 width: 100%;
 }

table.list_productdisplay tr td{
 vertical-align: top;
 padding-bottom: 0px;
 font-size: 8pt;
/*  border: 1px solid black;  */
 }

table.list_productdisplay tr td select{
 margin-right: 3px;
 }
 
 
table.list_productdisplay tr.list_view_description{
 margin: 0px;
 padding: 0px;
 }
 
table.list_productdisplay tr.list_view_description td{
 margin: 0px;
 padding: 0px 3px 5px 3px;
 } 
 
table.list_productdisplay tr.list_view_description td div{
 display: none;
 padding: 3px;
 } 
 
ul.tandclist li{
 list-style-type:lower-alpha;
 } 
 
ul.tandclist li{
 list-style-type: circle;
 } 
 
ul.linklist li{
 font-weight:bold;
 } 
 
strong.special{
 color: #DD0000;
 }
 
a.termsandconds
 {
 text-decoration: underline;
 }

span.miniarrow{
 display: block;
/* border: 1px solid black; */
 vertical-align: top !important;
 }

img.miniarrow{
/* position: relative; */
/* border: 1px solid black; */
 margin-right: 4px;
 }

img.catimage{
 float:left;
 position: relative;
 top: -3px;
 margin-right: 2pt;
 }

strong.cattitles{
 display: block;
 position: relative;
/* margin-bottom: -15px; */
 }

strong.prodtitles{
 display: block;
 margin-bottom: -15px;
 }

table.mainpagetable{
 margin-left: 0px;
 }

table.mainpagetable tr td{
 padding-left: 0px;
 }

strong.title{
 font-size: 12.5pt;
 }

a.categorylink{
 font-size: 8pt;
 /*border: 1px solid red;*/
 }

span.pricedisplay{
 white-space: nowrap;
 }
 
td.totals{
 vertical-align: bottom;
 }
 
table.cattable{
 padding: 0px;
 margin: 0px;
 border-collapse: collapse;
/* border: 1px solid black; */
 }
 
table.cattable tr td{
 padding: 0px;
/* border: 1px solid black; */
 }
 
 td.catfirstcol{
 padding-right: 3px;
 }

form#specials{
 display: inline;
 }
 
span.oldprice{
 text-decoration: line-through;
 }

 
span.additional_description{
 display: none;
 }
 
a.additional_description_link{
 display: inline;
 }
 
td.prodgroupmidline{
 border-right: 1px solid black !important;
 padding-right: 3px;
 }
 
#loadingindicator{
 visibility: hidden; 
 font-size: 7pt;
 font-weight: normal;
 }

#loadingindicator img{
 position: relative;
 top: 3px;
 margin-left: 6px;
/*  visibility: hidden; */
  border: none !important;
 }
 
#alt_loadingindicator{
 visibility: hidden; 
 font-size: 7pt;
 font-weight: normal;
 }

#alt_loadingindicator img{
 position: relative;
 top: 3px;
 margin-left: 6px;
/*  visibility: hidden; */
  border: none !important;
 }
 
/* e-commerce fix for K2 */
table.productdisplay tr td img {
 max-width: none;
 }
 
 
div.product_footer{
 position: relative;
 padding: 0px !important;
 width: 100%;
 border-top: 1px dashed #cccccc;
 height: 35px;
 margin-top: 1em;
 }
 
div.product_footer strong{
 display: block;
 font-size: 7pt;
 font-weight: normal;
 }
 
div.product_average_vote{
 position: absolute;
 top: 0px;
 left: 0px;
 width: 50%;
 float: left;
 margin: 0px !important;
 height: inherit;
 }
 
div.product_user_vote{
 position: absolute;
 top: 0px;
 right: 0px;
 width: 30%;
 margin: 0px !important;
 height: inherit;
 }
 
span.vote_total{
 position: relative;
 top: -3px;
 left: 2px;
 font-size: 7pt;
 }

span.rating_saved{
 color: #990000;
 display: none;
 }

div.select_country{
 margin-bottom: 5px;
 }
 
div#homepage_products{
 width:100%;
 }
 
div.frontpage_product{
 width:auto;
 float: left;
 height: 260px;
 text-align: center;
 }
 
div.frontpage_product a p{
 margin-top: 0px;
 }
 
div.frontpage_product a{
 color: #333333 !important;
 font-weight: normal !important;
 }
 
div.frontpage_product a img{
 border: none;
 }
 
div.frontpage_product img{
 text-align: center;
 }
 
div.frontpage_product span.front_page_price{
  display: block;
  }
  
  
/* shopping cart styling */

table.productcart{
 width: 100%;
 margin-top: 10px;
 margin-bottom: 10px;
 padding: 0px;
 border-collapse: collapse;
 padding-top: 3px;
 border: none;
 font-size: inherit;
 }

table.productcart tr td{
 padding-bottom: 5px;
 font-size: 11px;
 font-size: inherit;
 }

table.productcart tr.product_row td{
 padding-bottom: 5px;
 font-size: inherit;
 vertical-align: middle !important;
 }

table.productcart tr.product_row td{
 padding-bottom: 5px;
 font-size: inherit;
 vertical-align: middle !important;
 }
 
/*table.productcart tr td a{
 color: #000000;
 font-weight: normal;
 }
 
table.productcart tr td a:hover{
 color: #555555;
 }*/

table.productcart tr.firstrow td{
 font-weight:bold;
 background-color: #e5e5e5;
 border-left: 2px solid white;
 }

table.productcart tr.firstrow td.firstcol{
 border-left: none;
 }

table.productcart tr.product_shipping td{
 vertical-align: middle;
 border-top: 1px solid #999999 !important;
 border-bottom: 1px solid #999999 !important;
 padding-top: 4px;
 }

table.productcart tr.total_price td{
 border-top: 1px solid #999999 !important;
 border-bottom: 1px solid #999999 !important;
 font-weight: bold;
 padding-top: 4px;
 }
 
ul.checkout_links{
  list-style-type: none;
  padding-left: 0px;
 }
 
 
ul.checkout_links li{
  list-style-type: none;
  margin-left: 0px;
 }
 
ul.checkout_links li a{
 color: #555555 !important;
 font-weight: normal !important;
 }
 
ul.checkout_links li a:hover{
 color: #000000 !important;
 }
  
.PeSwitcher ul{
 padding-left: 0px;
 }
  
.PeSwitcher ul li{
 margin-left: 0px;
 }
  
.category_brand_header li{
 list-style-type: none;
 margin-left: 0px;
 }
  
#content .category_brand_header li a{
 color: #333333;
 font-weight: bold;
 }
  
.PeCatsBrands ul{
 padding-left: 0px;
 }
  
.PeCatsBrands ul li{
 list-style-type: none;
 margin-left: 0px;
 }
  
.PeCatsBrands  ul.SubCategories li{
 margin-left: 1em;
 }
 
