table.productdisplay tr td{ vertical-align: top; }

table.logdisplay{ width: 100%; }

table.logdisplay tr.toprow td{ text-align: center; font-weight:bold; }

table.logdisplay tr.toprow2 td{ text-align: left; font-weight:bold; }
  
table.logdisplay tr td{ padding-left: 5px; padding-top: 2px; padding-bottom: 2px;}
  
table.logdisplay tr.alt{ background-color: #eeeeee; }

table.logdisplay tr.alt td{ background-color: #eeeeee; }

ul.installation { list-style-type: decimal; }

td.processed{ text-align: left; min-width: 140px; width: 140px; white-space: nowrap; }
td.processed a{ border-bottom: none; }
td.processed a img{ margin-left: 5px; }
/* td.processed a span{ border-bottom: 1px solid #69c; } */

td.processed a.yes{ color: green; }

td.processed a.no{ color: red; }

table.options tr td input.text, table.options tr td textarea{ width: 300px; }

table.options tr td textarea{ height: 120px; }

table#productpage{ width: 100%; }

table#productpage tr td{ vertical-align: top; }

table#productpage tr td.secondcol{ border-left: 1px solid #888888; width: 60%; padding-left: 20px; }

table#itemlist{ }

table#itemlist tr td{ text-align: center; padding-left: 3px; padding-right: 3px; }
 
table#itemlist tr td.colspan{ text-align: left; padding: 0px; }

table#itemlist tr.firstrow td{ font-weight: bold; padding-left: 5px; padding-right: 5px; }
 
table.itemlist{ margin: 0px; }
 
div.subcategory{ list-style-type: none; vertical-align: top; margin: 0px; padding: 0px; }

div.subcategory img.category_indenter{ float: left; margin-top: 10px; }

table.itemlist tr td{ text-align: center; padding-left: 3px; padding-right: 3px; }
 
span.small{ font-size: 9pt; }

table.additem tr td{ vertical-align: top; }

div#productform{ display: none; }

div#productform table tr td{ height: 11px; }
 
div#additem{ display: block; }

div#additem table tr td{ height: 11px; }

td.itemfirstcol{ width: 120px !important; vertical-align: center; }

input.image_resize{ position: relative; top: 4px; }
 
#loadingindicator_span{ display: none; }
 
strong.form_group{ font-size: 11pt; color: #71a4c8; }
 
strong.form_group span{ font-size: 8pt; }
 
span.image_size_text{ font-size: 8pt; }
 
img#previewimage{ width: 100px; max-width: 100px; }
 
div#preview_button{ width: 100%; text-align: center; }
 
a#preview_button{ font-size: 8pt; }
  
a.lightbox_links{ border-bottom: none; }

td#product_log_data{ width: 70%; vertical-align: top; }
 
td#order_summary_container{ padding-left: 10px; padding-top: 0em; vertical-align: top; }
 
td#order_summary_container strong.order_summary{ display: block; margin-top: 4px; margin-bottom: 3px; }
 
td#order_summary_container div.order_summary{ background-color: #eaf2f5; border: 1px solid #d7e4ec; padding-top: 15px; padding-left: 15px; padding-right: 15px; }
  
div.order_summary_subsection{ margin-bottom: 1em; }
  
div.order_summary_subsection strong{ display: block; border-bottom: 1px solid #d0dee7; width: 100%; font-size: 8pt; }
 
div.order_summary_subsection p{ font-size: 8pt; display: block; margin-top: 3px; }

 
td#order_summary_container div.gold-cart_pesterer{ background-color: #eaf2f5; border: 1px solid #d7e4ec; padding: 15px; margin-top: 15px; }

td#order_summary_container div.gold-cart_pesterer div{ font-size: 8pt; color: #666666; } /*
td#order_summary_container div.gold-cart_pesterer div a{ color: #666666; border-bottom: 1px solid #666666; }
td#order_summary_container div.gold-cart_pesterer div a:hover { color: #666666; border-bottom: 1px solid #666666; }*/
td#order_summary_container div.gold-cart_pesterer div img{ float: left; margin-right: 12px; }


a.image_link{ border-bottom: none !important; }
 
a.image_link img{ border-bottom: none !important; }
 
a.add_item_link{ display: block; border-bottom: none !important; }
 
a.add_item_link span{ /*border-bottom: 1px solid #69c;*/ }
 
a.add_item_link img{ margin-bottom: -3px; }
  
table#form_field_table tr td, table#form_field_table tr th{ border: 1px solid white; }
  
table#form_field_table tr th{ margin: 0px; padding:0px; }
  
table#form_field_table tr td.namecol{ }
  
table#form_field_table tr *.namecol{ width: 170px; padding-right: 8px; }
table#form_field_table tr *.namecol input{ width: 160px; }
  
table#form_field_table tr *.typecol{ width: 120px; }
table#form_field_table tr *.typecol select{ width: 115px; }
  
table#form_field_table tr *.mandatorycol{ width: 90px; text-align: center; }
table#form_field_table tr *.mandatorycol input{ }
  
table#form_field_table tr *.logdisplaycol{ width: 70px; text-align: center; }
table#form_field_table tr *.logdisplaycol input{ }
  
table#form_field_table tr *.ordercol{ width: 70px; text-align: center; }
table#form_field_table tr *.ordercol input{ }
  
table#form_field_table tr th{ padding-left: 0px; padding-right: 0px;
  }
  

div#form_field_form_container{ padding: 0px; margin: 0px; }  

div#form_field_form_container div, div#form_field_form_container div table{  padding: 0px;  margin: 0px;  width: 100%;  border-collapse: collapse; }  
  
img.log_expander_icon { margin-right: 3px; }

/* td { border: 1px solid red; } */

div#form_field_form_container div table tr td{ padding: 0px; margin: 0px; }  

div.order_status{ border: 1px solid #eeeeee; display: none; width: 100%; }

div.order_status div{ width: 100%; padding:1ex 0px 1ex 1em; display: block !important;}
  
div.order_status ul{ list-style-type: none; margin: 1ex 0px 0px 0px; padding: 0px; }
  
div.order_status ul li{ padding-left: 0px; }

div.order_status ul li input{ margin: 0px 2px -2px 0px; }
  
img.log_expander_icon { margin-right: 3px; }

/* td { border: 1px solid red; } */

td.authorize_info_box { vertical-align: top; text-align: left; }

div.authorize_info_box { background: #f0f8ff; vertical-align: middle; text-align: center; width: 284px; height: 117px; }
div.authorize_info_box table { display: block; height: 117px; margin: auto auto auto auto; width: 205px; }
div.authorize_info_box table tr td { text-align: left; height: 117px; vertical-align: middle; color: #999999; font-size: 8pt; }

hr.image_seperator { border-top: 1px solid #666666; border-bottom: none; border-left: none; border-right: none;}

table.add_extra_images { width: 100%; }

div#list_view_quantity_container{
  }
  
a.product_log_rss {
 border-bottom: none;
 }
  
a.product_log_rss span{
 border-bottom: 1px solid #6699cc; 
 }
 
a.admin_download {
 border-bottom: none;
 }
 
a.admin_download img{
 margin-right: 3px;
 }
  
a.admin_download span{
 border-bottom: 1px solid #6699cc; 
 }
 
h3.log_headers{
 color: #71a4c8;
 margin-bottom: 0px;
 }

input.edit_button {
 float: left;
 }

a.delete_button {
 display: block;
 float: left;
 background: #f4f4f4;
 border: 1px solid #b2b2b2;
 color: #000;
 font:  13px Verdana, Arial, Helvetica, sans-serif;
 width: auto;
 margin: 1px;
 padding: 4px;
 }
 
div.flag_email{
  position: relative;
  left: 60px;
  }
  
td.positioning_buttons a{
  border-bottom: none;
  margin-left: 3px; 
  }  
  
input.tax_forms{
 text-align: right;
 width: 2.75em;
 }
  
a.add_image_upload_forms div{/*
 height: 8pt;
 width: 1ex;
 background-color: #cccccc !important;
 float: left;*/
 display: none; 
 }
  
label.order_filters{ font-size: 8pt; }
input.order_filters{ margin-bottom: -2px; }

a.thickbox{
 border: none;
 }
a.thickbox img{
 border: none;
 }