/*
/ ellipsis code from http://www.jide.fr/emulate-text-overflowellipsis-in-firefox-with-css
*/


.ellipsis label {
   white-space:nowrap;
   text-overflow: ellipsis; /* for internet explorer */
   overflow:hidden;
   width:310px;
   display:block;
}
/*
html>body .ellipsis {
   clear:both;
}

html>body .ellipsis label:after {
   content: "...";
}

html>body .ellipsis label {
   max-width:300px;
   width:auto !important;
   float:left;
}
*/

td.product_file_icon, td.product_file_actions {
	margin-top: -17px;
	width: 18px;
	margin: 0 auto;
}
td.product_file_name {
	width: 300px;
}

td.product_file_actions {
	cursor: pointer;
}

/*
#select_product_table {
	width: 100%;
}
*/

#select_product_table label {
	overflow:hidden;
	display: block;
	width: 300px;
}
#flash-product-uploader-status {
	margin: 0;
	padding-top: -12px;
}