/*
* This is the new WPSC Admin CSS file 
*/

/*
	* Display Products CSS starts here
	*/
#wpsc_product_list {
	width: 410px;
}
	
#wpsc_product_list tbody {
	width: 410px;
	border-collapse:collapse;
}

#wpsc_product_list .column-image{
	width: 35px;
}

#wpsc_product_list .column-price{
	width: 40px;
}

#wpsc_product_list .column-categories{
	width: 84px;
}


#wpsc_product_list tbody tr td.column-title {
	border-right:none;
}
#wpsc_product_list tbody tr td.product-image img {
	cursor:move;
}


#wpsc_product_list tbody tr td .wpsc-row-actions {
	font-size: 10px;
	visibility: hidden;
}
	

#wpsc_product_list tbody tr:hover td .wpsc-row-actions {
	font-size: 10px;
	visibility: visible;
}
	
/*  Sortable product styling*/
	
	
#wpsc_product_list .ui-sortable-helper{
	width: 410px;
	margin-left: -1px;
}

#wpsc_product_list .ui-sortable-helper td, #wpsc_product_list .ui-sortable-helper th{
	border-top: 1px solid #DFDFDF;
}
#wpsc_product_list tbody tr.ui-sortable-helper td.product-title {
	width: 169px;
}
#wpsc_product_list tbody tr.ui-sortable-helper td.product-price {
	width: 40px;
}
		
div.product-placeholder {
	border-width: 1px;
	border-style: dashed;
  z-index: 900;
	border-color: #bbb;
	background-color: #f5f5f5;
  margin: -2px 0 0 -2px;
}


/*  Product details form styling */


input.wpsc_product_name {
	float:left;
	width:93%;
	min-width:396px;
	max-width:566px;
	
  height:  36px;
  max-height: 36px;
  margin-bottom:0px;
  padding: 3px 4px;
	
	border: 1px solid #dfdfdf;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 1.7em;
	
	/*disable right rounded borders */
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomright:0px;
	-khtml-border-radius-topright:0px;
	-khtml-border-radius-bottomright:0px;	
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	
	/* IE 6 hacks */
  _height: 28px;
	_border:1px solid #DFDFDF;
	_width:396px;
}




div.admin_product_name div.admin_product_shorttags {
	width:93%;
	min-width:396px;
	max-width:558px;
	
  clear: both;
  padding: 6px;
  font-size: 8pt;
  margin:0 0 0 6px !important;
	border-left:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
	border-bottom:1px solid #DFDFDF;
/*   height: 28px; */
  display: none;
	_width:396px;
 background-color: #ffffff;
}

div.admin_product_name a.shorttag_toggle {
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topright:6px;
	background:#FFFFFF url(../../images/info_icon.jpg) no-repeat scroll 5px 8px;
	border-bottom:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
	border-top:1px solid #DFDFDF;
	display:block;
	float:left;
	height:28px;
	margin-left:-1px;
	margin-top:1px;
	padding:3px;
	width:18px;
}

#description {
margin:0;
width:100%;
}



h4.product_action_link {
	margin:4px 0px 0px 0px;
	display:block;
	font-weight:bold;
}



/* image form styling */
table.flash-image-uploader tr td p {
  clear: both;
}

button#add-product-image {
  float: left;
}

div#swfupload_img_indicator {
  float: left;
  height: 20px;
  width: 20px;
  display: none;
}

div#swfupload_img_indicator img{
 margin: 4px 2px 2px 4px;
}

ul#gallery_list{
	clear:both;
	list-style-type:none;
	list-style-position: inside;
	cursor: hand;
	min-height:70px;
	_height:70px;
	padding-left:0px;
  margin: 6px 0px 0px 6px;
}

ul#gallery_list li{
	float:left;
}

ul#gallery_list li *{
	z-index:79;
}
ul#gallery_list li.first *{
	z-index:80;
}
.ui-selected {
	border:2px dashed #969696;
}
img.deleteButton {
 	display:none;
	position:absolute;
	margin-left:-16px;
	top:-5px;
	width:16px;
	height:16px;
	cursor:pointer;
}
a.editButton {
	background:#FFFFFF none repeat scroll 0%;
	height:20px;
	display:none;
	position:absolute;
	margin-left:-50px;
	top:0px;
	padding-bottom:3px;
	padding-left:3px;
	cursor:pointer;
}

div#image_settings_box {
	position:absolute;
	width:150px;
	display:none;
  margin: -66px 0px 0px 36px;
  _margin: 0px 0px 0px -30px;
	padding-top:2px;
	width:252px;
	z-index:69;
	_z-index:80;
}

a.thickbox img {
	border:medium none;
}

img.previewimage {
	cursor:move;
	height:60px;
	margin-right:4px;
	width:60px;
}

div.lower_settings_box {
	width:234px;
	background-color:white;
	border:1px solid black;
	border-top:1px solid #CCCCCC;
	float:right;
  margin: -1px -6px 0px 0px;
	background-color:#EAF3FA;
}

div.upper_settings_box {
	width:250px;
	background-color:white;
	border:1px solid black;
	padding:3px 1px 2px 5px;
}

div.upper_image {
	float:left;
/* 	border-bottom:1px solid black; */
	padding-left:5px;
	margin-left:-5px;
	_margin-left:-3px;
	margin-right:-7px;
	padding-bottom:4px;
	_padding-bottom:6px;
	_margin-bottom:-2px;
}

div.upper_txt{
	padding-left:22px;
	color:#666666;
}

div.previewimage {
	position:relative;
}

tr.edit_product_image *{
	z-index:80;
}

a.closeimagesettings{
	cursor:pointer;
	margin-left:90px;
}

div.browser-image-uploader {
  
}

div.browser-image-uploader h4{
  margin-bottom: 8px;
}


/*  Product details form styling ends */


	
	/*
	* Display Products CSS ends here
*/