/*
* This is the new WPSC Admin CSS file 
*/

/*
 *Display Purchase log Details CSS is HERE
 */
#wpsc_items_ordered{
	clear:both;
}
#wpsc_items_ordered h3{
	margin-bottom:0em;
}
.wpsc_pushdown_img {
float:left;
}
#wpsc_purchlogitems_links{
	clear:both; 	
 
}
#wpsc_purchlog_order_status{
	float:right;
	width:250px;
}
#wpsc_purchlog_order_status .selector{
	margin-top:-.2em;
}

#wpsc_purchlogitems_links a{
	text-decoration:none;
	line-height:14pt;
}
#wpsc_purchlogitems_links img{
	padding-top:2px;
	float:left;
}
#wpsc_shipping_details_box{
	width:45%; 
	float:left;
	border:1px #d3d3d3 solid; 
	margin:.4em;
	padding:.6em;
	margin-right:5em;
}
#wpsc_billing_details_box{
	width:35%; 
	float:left;
	margin:.4em;
	padding:.6em;
}
#wpsc_purchlog_searchbox{
width:100%;
text-align:right;


}
/*
 *Display Purchase log Details CSS ends HERE
 */
/*
	* Display Products CSS starts here
	*/
#poststuff h3.form_heading {
	font-size:1.1em;
  margin: 40px 0px 10px 0px;
  padding-left: 0px;
}

#poststuff h3.form_heading span {
	font-size:0.8em;
}

div.search-box input#page-search-input {
  width: 115px;

}


#wpsc_product_list {
	width:100%;
}
	
#wpsc_product_list tbody {
	width: 410px;
	border-collapse:collapse;
}


#wpsc_product_list .column-title{
  width: 160px;
}

#wpsc_product_list .column-image{
	width: 35px;
}

#wpsc_product_list .column-price{
	width: 40px;
}

#wpsc_product_list .column-categories{
	width: 84px;
}

#wpsc_product_list tbody tr td.column-title {
	border-right:none;
}

#wpsc_product_list tbody tr td.product-image img {
	cursor:move;
}


#wpsc_product_list tbody tr td .wpsc-row-actions {
	font-size: 10px;
	visibility: hidden;
}
	

#wpsc_product_list tbody tr:hover td .wpsc-row-actions {
	font-size: 10px;
	visibility: visible;
}
	
/*  Sortable product styling*/
	
table.product_editform {
  margin-bottom: 20px;
}
	
	
#wpsc_product_list .ui-sortable-helper{
	width: 410px;
	margin-left: -1px;
  background-color: #FEFEFE;
}

#wpsc_product_list .ui-sortable-helper td, #wpsc_product_list .ui-sortable-helper th{
	border-top: 1px solid #DFDFDF;
  opacity: .4;
}
#wpsc_product_list tbody tr.ui-sortable-helper td.product-title {
	width: 169px;
}
#wpsc_product_list tbody tr.ui-sortable-helper td.product-price {
	width: 40px;
}
		
div.product-placeholder {
	border-width: 1px;
	border-style: dashed;
  z-index: 900;
	border-color: #bbb;
	background-color: #f5f5f5;
  margin: -2px 0 0 -2px;
}


/*  Product details form styling */

div#poststuff table tr td {
	vertical-align:top;
	font-size:11px;
}

div#poststuff textarea {
  width: 100%;
}

div.admin_product_name label {
  display: block;
  float: left;
}

input.wpsc_product_name {
	float:left;
	width:93%;
	min-width:396px;
	max-width:566px;
	
  height:  36px;
  max-height: 36px;
  margin-bottom:0px;
  padding: 3px 4px;
	
	border: 1px solid #dfdfdf;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	font-size: 1.7em;
	
	/*disable right rounded borders */
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomright:0px;
	-khtml-border-radius-topright:0px;
	-khtml-border-radius-bottomright:0px;	
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	
	/* IE 6 hacks */
  _height: 28px;
	_border:1px solid #DFDFDF;
	_width:396px;
}




div.admin_product_name div.admin_product_shorttags {
	width:93%;
	min-width:396px;
	max-width:558px;
	
  clear: both;
  padding: 6px;
  font-size: 8pt;
  margin:0 0 0 6px !important;
	border-left:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
	border-bottom:1px solid #DFDFDF;
/*   height: 28px; */
  display: none;
	_width:396px;
 background-color: #ffffff;
}

div.admin_product_name a.shorttag_toggle {
	background:#FFFFFF url(../../images/info_icon.jpg) no-repeat scroll 5px 8px;
	border-bottom:1px solid #DFDFDF;
	border-right:1px solid #DFDFDF;
	border-top:1px solid #DFDFDF;
	display:block;
	float:left;
	height:28px;
	margin-left:-1px;
	margin-top:1px;
	padding:3px;
	width:18px;
	
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	
}

#description {
margin:0;
width:100%;
}



h4.product_action_link {
	margin:4px 0px 0px 0px;
	display:block;
	font-weight:bold;
}



/* custom meta styling */
div.product_custom_meta {
 display: block;
 width: 100%; 
 vertical-align: top;
}
div#poststuff div.product_custom_meta input, div#poststuff div.product_custom_meta textarea {
 width: 100%; 
}


div.product_custom_meta a.add_more_meta {
 display: block;
 float: left;
 margin-top: 18px;
 margin-left: 4px;
}

div.product_custom_meta a.remove_meta {
 display: block;
 float: left;
 margin-top: 18px;
 margin-left: 4px;
}


div.product_custom_meta label {
 display: block;
 width: 170px; 
 float: left;
}

div.product_custom_meta label input {
 font-size:13px;
 width: 160px !important;
 margin:1px !important;
 padding:3px !important;
 display: block;
}
 
div.product_custom_meta br {
 clear: both;
}

/* image form styling */
table.flash-image-uploader tr td p {
  clear: both;
}

button#add-product-image {
  float: left;
}

div#swfupload_img_indicator {
  float: left;
  height: 20px;
  width: 20px;
  display: none;
}

div#swfupload_img_indicator img{
 margin: 4px 2px 2px 4px;
}

ul#gallery_list{
	clear:both;
	list-style-type:none;
	list-style-position: inside;
	cursor: hand;
	min-height:70px;
	_height:70px;
	padding-left:0px;
  margin: 6px 0px 0px 6px;
}

ul#gallery_list li{
	float:left;
}

ul#gallery_list li *{
	z-index:79;
}
ul#gallery_list li.first *{
	z-index:80;
}
.ui-selected {
	border:2px dashed #969696;
}
img.deleteButton {
 	display:none;
	position:absolute;
	margin-left:-16px;
	top:-5px;
	width:16px;
	height:16px;
	cursor:pointer;
}
a.editButton {
	background:#FFFFFF none repeat scroll 0%;
	height:20px;
	display:none;
	position:absolute;
	right:0px;
	top:0px;
	padding-bottom:3px;
	padding-left:3px;
	cursor:pointer;
}

div#image_settings_box {
	position:absolute;
	width:150px;
	display:none;
  margin: -66px 0px 0px 36px;
  _margin: 0px 0px 0px -30px;
	padding-top:2px;
	width:252px;
	z-index:69;
	_z-index:80;
}

a.thickbox img {
	border:medium none;
}

img.previewimage {
	cursor:move;
	height:60px;
	margin-right:4px;
	width:60px;
}

div.lower_settings_box {
	width:234px;
	background-color:white;
	border:1px solid black;
	border-top:1px solid #CCCCCC;
	float:right;
  margin: -1px -6px 0px 0px;
	padding: 2px 0 0 4px;
	background-color:#EAF3FA;
}

div.upper_settings_box {
	width:250px;
	background-color:white;
	border:1px solid black;
	padding:3px 1px 2px 5px;
}

div.upper_image {
	float:left;
/* 	border-bottom:1px solid black; */
	padding-left:5px;
	margin-left:-5px;
	_margin-left:-3px;
	margin-right:-7px;
	padding-bottom:4px;
	_padding-bottom:6px;
	_margin-bottom:-2px;
}

div.upper_txt{
	padding-left:22px;
	color:#666666;
}

div.previewimage {
	position:relative;
}

tr.edit_product_image *{
	z-index:80;
}

a.closeimagesettings{
	cursor:pointer;
	margin-left:90px;
}

div.browser-image-uploader {
  
}

div.browser-image-uploader h4{
  margin-bottom: 8px;
}

div.image_resize_extra_forms {
  display: none;
}



/* variations CSS starts */
 
table.product_variation_listing{ 
 margin-bottom: 12px;
 }
 
table.product_variation_listing th.variation_name{ 
 color: #71A4C8;
 font-style: italic;
 text-align: left;
 padding-bottom: 1px;
 }
 
table.product_variation_grid{ 
 margin-top: 12px;
 }
 
table.product_variation_grid th.variation_name{ 
 color: #71A4C8;
 font-style: italic;
 text-align: left;
 padding-bottom: 1px;
 }
 

table.product_variation_grid {
 border-collapse: collapse;
 margin-top: 0px;
}

table.product_variation_grid tr td, table.product_variation_grid tr th {
 border: 1px solid #cccccc;
 border-collapse: collapse;
 text-align: left;
}

table.product_variation_grid tr th {
   border-bottom: 1px solid #969696;
}

table.product_variation_grid tr th.stock {
   border-bottom: 1px solid #969696;
   width: 50px;
}

table.product_variation_grid tr th.price {
   width: 78px;
}

table.product_variation_grid tr td.variations, table.product_variation_grid tr th {
  padding: 4px 0px 4px 10px;  
}
  
table.product_variation_grid tr td.variations, table.product_variation_grid tr th.variations {
  width: 300px;
}
 
 
table.product_variation_grid tr td input{
   padding: 0px 3px 0px 3px;
}

table.product_variation_grid tr.group_boundary td {
   border-bottom: 1px solid #969696;
}

a.about_this_page_sub {
	text-decoration:underline;
}

table.product_variation_grid tr td, table.product_variation_grid tr th {
 border: 1px solid #cccccc;
 border-collapse: collapse;
 text-align: left;
}

table.product_variation_grid tr.variation_row td {
 border-bottom: none;
}

table.product_variation_grid tr.settings_row td {
 border-top: none;
 padding: 0px !important;
}


table.product_variation_grid tr.settings_row td div.variation_settings {
  display: none;
  border-top: 1px dotted #cccccc;
  width: 100%;
  min-height: 30px;
  padding: 4px 10px;
 
}
table.product_variation_grid tr th {
   border-bottom: 1px solid #969696;
}

table.product_variation_grid tr th.stock {
   border-bottom: 1px solid #969696;
   width: 50px;
}

table.product_variation_grid tr th.price {
   width: 78px;
}

table.product_variation_grid tr td.variations, table.product_variation_grid tr th {
  padding: 4px 0px 4px 10px;
}
  
table.product_variation_grid tr td.variations, table.product_variation_grid tr th.variations {
  width: 300px;
}
 
 
table.product_variation_grid tr td input{
   padding: 0px 3px 0px 3px;
}

table.product_variation_grid tr td input.checkbox{
  display: block;
  margin:6px auto;
}

table.product_variation_grid tr.group_boundary td {
   border-bottom: 1px solid #969696;
}

div#add_product_variation_details {
  margin: 1ex 0px 0px 0px;
}

div#add_product_variation_details table.product_variation_grid {
  margin: 4px 0px 0px 0px;
}

div.variation_checkboxes {
  margin-bottom: 4px;
}

div.variation_checkboxes label {
  display: block;
  margin-bottom: 2px;
}

div.variation_checkboxes label input {
  position: relative;
  top: 2px; 
  margin-right: 3px;
}

a.variation_edit_button {
  display: block;
  height: 16px;
  width: 16px;
  margin: 4px auto 0px auto;

}

div.variation_settings div.variation_settings_contents{
  padding-left: 10px;
}

div.select_variation_file {
  padding-left: 6px;
}
div.select_variation_file p {
  margin:0 0 3px;
}

div.select_variation_file p {
  margin:0 0 3px;
}

div.select_variation_file p input {
 position: relative;
 top: 2px; 
}


label.variation_checkbox {
  display: block;
}

div.variation_box{
}
div.variation_values_box{
  padding-left: 10px;
}
/* variations CSS ends */



div.select_product_file, div.edit_select_product_file {
	background-color:#EEEEEE;
	border:1px solid #B2B2B2;
	margin-bottom:0;
	margin-top:3px;
	overflow-x:hidden;
	overflow-y:auto;
	padding:2px 2px 6px;
	position:relative;
	width:300px;
}

img.file_delete_button {
cursor:pointer;
float:right;
margin-top:-17px;
}

a.delete_button {
border-color:-moz-use-text-color -moz-use-text-color #FF0000;
border-style:none none solid;
border-width:medium medium 1px;
color:#FF0000;
font-size:11px;
padding:1px 2px;
text-decoration:none;
}

/*  Product details form styling ends */
	/*
	* Display Products CSS ends here
*/
/* jCrop styling starts here */
/* Fixes issue here http://code.google.com/p/jcrop/issues/detail?id=1 */
.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0;
	position: absolute;
	background: white url('Jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
	*width: 9px;
	*height: 9px;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#wpsc_thumbnail_preview{
/* width:500px; */
float:right;
margin-right:4em;
}

#wpsc_thumbnail_preview_landscape{
margin-top:1em;
float:left;
width:500px;

}
#wpsc_thumbnail_preview_landscape label{
width:140px;
float: left;
}
#wpsc_crop_preview{
 width:100px;
 height:100px;
 overflow:hidden;
 float:left;
 margin:1.5em;
}

/* jCrop styling ends here */

/* shipping options start here */
.wpsc_shipping_options .wpsc-shipping-actions{
visibility:hidden;
font-size: 10px;
margin:5px 20em 0 0;
float:right;
}
.wpsc_shipping_options:hover .wpsc-shipping-actions{
visibility:visible;
}





/* 
* Product Groups styles start here
*/
td.firstcol div.postbox div.inside{  
  margin: 0px;
  padding: 0px;
}

table#productpage{
  width: 100%;
  clear: both;
  border-collapse: collapse; 
}

table#productpage tr td{
  vertical-align: top; 
/*   padding: 0px 0px 0px 6px; */
}

table#productpage tr td.secondcol{
/*   width: 60%; */
/*   margin-left: 20px; */
  padding: 0px 2px 0px 16px;
     
}

table#itemlist{
	min-width: 280px;
	width: 100%;
	border-collapse:collapse;
/* 	border:1px solid #bbb; */
	border-top:none;
}


table#itemlist tr td{text-align: left; padding:10px 5px 8px 5px; }

table#itemlist tr.products td{text-align: left;padding-top:8px; vertical-align: top ; border-top:1px solid #bbb;border-bottom:1px solid #bbb;}
table#itemlist tr.productsalt td{text-align: left;padding-top:8px; vertical-align: top ; border-top:1px solid #bbb;border-bottom:1px solid #bbb;}

table#itemlist tr td.imagecol{ padding: 4px;}
 
table#itemlist tr td.colspan{ text-align: left; padding: 0px; }

table#itemlist tr.firstrow td{ font-weight: bold; padding-left: 5px; padding-right: 5px; }




div#productform{ display: none; width: 99.5%; }

div#edititem27{ display: none; width: 586px; }

div#productform table tr td{ height: 11px !important; }
 
div#additem{ display: block;}

/* div#additem table tr td{ height: 11px; } */

div#productform td.itemfirstcol{ padding-left:4px;  vertical-align: top; }




div#productform input.text, div#additem input.text{width:286px;border:1px solid #bbb;}

div#edit_variation_values input.text{width:286px !important;border:1px solid #bbb;}

input.image_resize{ position: relative; top: 4px; }
 
div#additem table.additem input.wpsc_tag{
	width:180px;
}
div#additem label{
	font-style: normal;
	font-size: 0.95em;
}



table#itemlist tr td.category_item_container {
padding:0px 0px 0px 0px;
border-left:1px solid #bbb;
border-bottom:1px solid #bbb;
border-right:1px solid #bbb;
}

.groupItem{
 border-top:1px solid #bbb;
 width:385px;
 height:35px;
 clear: both;
/*  margin-left:-6px; */
padding: 0px 0px 4px 0px;
}

.groupItem .itemHeader{
	width:65px;
	line-height: 15px;
	color: #000;
	padding: 4px;
	cursor: move;
	height: 35px;
	position: relative;
	clear: both;
}

.groupItem .itemHeader a{
  margin: 4px 0px 4px 0px;
	font-weight: normal;
	font-size: 11px;
	text-decoration: none;
}
.sortHelper{
	border: 3px dashed #666;
	width: auto;
}
.groupWrapper p{
	height: 1px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}


table#productpage tr td.secondcol.product_groups_page {
	padding-left: 16px;
}

td.product_groups_page #additem .inside, td.product_groups_page #productform .inside {
	margin: 0px 0px 15px 0px;
}

div.editing_this_group {
  margin-bottom: 8px;
  border-bottom:1px dotted black;
	width:100%;
}

td.product_groups_page h4 {
  margin-bottom: 1ex;
}



td.product_groups_page td.category_presentation_settings {
  padding-bottom: 1ex;
}



div.editing_this_group p {
	font-size:8pt;
	min-height:16px;
	padding:4px 4px 4px 8px;
  margin: 0px;
}


a.add_category_link{
 display: block;
 margin: 8px;
}

table#itemlist tr.categorisation_title td {
	color: #dfdfdf;
	font-size: 11px;
	line-height:1.3em;
	padding:9px 15px 6px 10px;
	text-align:left;
}


label.select_categorisation_group, select#select_categorisation_group, a.add_categorisation_group, a.edit_categorisation_group {
  display: block;
  float: left;
}

label.select_categorisation_group {
  padding-top: 4px;
/*   color: #336699; */
  font-size: 11px;
}

a.add_categorisation_group {
	margin-left: 10px;
}

a.edit_categorisation_group {
	margin-left: 30px;
}



div#add_categorisation, div#edit_categorisation{
	display: none;
  border: 1px solid #BBBBBB;
  padding: 4px;
  margin-top: 6px;
}

div#add_categorisation br, div#edit_categorisation br{
  clear: both;
}


div#add_categorisation fieldset, div#edit_categorisation fieldset{
  width: 230px;
  float: left;
  border: none;
}

div#add_categorisation fieldset label, div#edit_categorisation fieldset label{
  display: block;
}

ul.categorisation_links{
  list-style-type: none;
  clear: both;
  padding: 0px;
}

ul.categorisation_links li{
  display: block;
  float: left;
  list-style-type: none;
  margin: 0px;
  font-size: 14px;
  padding: 4px;
}

ul.categorisation_links li.selected a{
color: #D54E21;
}




table.category_forms {
  width: 100%;
}
table.category_forms tr td {
 padding: 0px 8px ;
}
table.category_forms tr td textarea  {
  width: 100%;
}



/* 
* Product Groups styles end here
*/